<!DOCTYPE html>
<html lang="en">
    <%- partial('partial/head') %>
    <body>
        <%- body %>
        <%- partial('partial/visited') %>
        <%- partial('partial/dabai') %>
        <%- partial('partial/search') %>
    </body>
</html>